html,body{
    height: 100%;
    width: 100%;
    transition:all 1s;
}
body{
    font-family: 'Microsoft Yahei';
    box-sizing: border-box;
    overflow: auto;
}
/*页面滚动动画*/
html body .move{
    animation: moveS 1s;
}
@keyframes moveS {
    0%{
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/*位置的导航和头部的动画*/
ul.crumbsBox li.move,.headerTop h1.move{
    animation: moveS1 1s;
}
@keyframes moveS1 {
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/*分享页面的动画*/
.say-text.move{
    animation: moveS2 1s;
}
@keyframes moveS2 {
    0%{
        transform: translate(0,-50%) scale(0.9);
        opacity: 0;
    }
    50%{
        transform: translate(0,-50%) scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: translate(0,-50%) scale(1);
        opacity: 1;
    }
}
html,body,a,ul,h1,p,h2,h3,h4,h5,h6{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

[v-cloak]{
	display: none;
}
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}
/*页面跳转动画*/
.aside.moveIn{
    animation: moveChangeIn 0.5s ease-out;
    animation-fill-mode :forwards;
}
.aside.moveOut{
    animation: moveChangeOut 0.1s ease-out;
    animation-fill-mode :forwards;
}
.timaAndmusic.TimaAndmusic{
    animation: moveChangeIn 0.5s ease-out;
    animation-fill-mode :forwards;
}
.TimaAndmusicOut{
    animation: moveChangeOut 0.1s ease-out;
    /*opacity: 0;*/
    transform: translateX(10000px);
}
.moveInMain{
    animation: moveMainIn 0.5s ease-out;
    animation-fill-mode :forwards;
}
.moveOutMain{
    animation: moveMainOut 0.1s ease-out;
    animation-fill-mode :forwards;

}
@keyframes moveMainIn {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveMainOut {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes moveChangeIn {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveChangeOut {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*文章列表样式*/
ul.l-article li {
	box-sizing: border-box;
    height: auto;
    box-shadow: 1px 1px 5px #bbb;
    border-radius: 5px;
    margin-top: 10px;
    width: 745px;
    padding: 10px 20px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.5);
    transition: all 1s;
	}
	ul.l-article li:hover{
		background: rgba(255, 255, 255, 0.8);
	}
    ul.l-article li:hover .textTitleA{
        transform: translateX(20px);
        color: #ef3900;
    }
	ul.l-article li h2 {
	font-size: 14px;

    font-weight: bold;
    position: relative;
}
	ul.l-article li h2 a{
        width: 100%;
        height: 100%;
		color: #ef7000;
        padding-bottom: 10px;
	}
	ul.l-article li img.a-pic:hover  {
		transform: scale(1.05);
	}
	ul.l-article li img.a-pic {
    width: 180px;
    height: 120px;
    border: 1px solid #bbb;
    padding: 3px;
    transition: all 0.6s;
}
	ul.l-article li div.a-con p {
    line-height: 30px;
    text-indent: 2em;
    color:#ef7000;
}
	ul.l-article li div.a-con {
    position: relative;
    width: 500px;
    min-height: 120px;
    float: right;
	}
	ul.l-article li div.a-con a.a-more {
	position: absolute;
    bottom: -10px;
    right: 10px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    background: #fd8a61;
    text-align: center;
    color: #fff;
    border-radius: 4px;
	}
	.autor {
    overflow: hidden;
    margin-top: 10px;
    display: inline-block;
    color: #666;
    width: 100%;
	}
	.paddings{
		display: inline-block;
		margin-right:20px;
		padding-left: 25px;
		line-height: 22px;
		background-size: 20px!important;

	}
	.textTime{
		background: url(../../assets/img/clock.png) no-repeat left center;
	}
	.fenlei{
		background: url(../../assets/img/label.png) no-repeat left 2px;
	}
	.liulan{
		background: url(../../assets/img/browse.png) no-repeat left center;
	}
	.author{
		background: url(../../assets/img/author.png) no-repeat left center;
		background-size: 16px!important;
	}
	.textTitleA{
		display: inline-block;
		transition: all 0.5s;
	}
	.fenleiA{
		transition: all 0.5s;
		color:#759b08;

	}
	.fenleiA:hover{
		color:#ef3900;
		text-decoration:underline;
	}
	.articleDatail{
		width: 100%;
		padding:30px 20px;
    	box-sizing: border-box;
    	border-radius: 3px;
    	background: rgba(255, 255, 255, 0.5);
    	font-size: 14px;
	}
	.articleDatail h2{
		text-align: center;
		font-weight: normal;
	}
	.articleDatail >p{
		text-align: center;
		margin: 20px 0;

	}
	.main .articleDatail{
		margin-top: 20px;
	}
	.w-e-text pre code {
		overflow:auto;
	}
	.articleDatail blockquote {
	  display: block;
	  border-left: 8px solid #d0e5f2;
	  padding: 5px 10px;
	  margin: 10px 0;
	  line-height: 1.4;
	  font-size: 100%;
	  background-color: rgba(241,241,241,0.5);
	}
	.articleDatail table {
	  border: none;
	  border-collapse: collapse;
	}
	.articleDatail table td,
	.articleDatail table th {
	  border: 1px solid #f1f1f1;
	  padding: 3px 5px;
	  min-width: 50px;
	  height: 20px;
	}
	.articleDatail pre {
	  line-height: 20px;
	  font-size: 14px;
	}

    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(85, 85, 85,0.2);;
}
.contentBox code.hljs{
    border-radius: 8px;
    background: rgba(253, 246, 227, 0.7);
}