##存储引擎
storageEngine=wiredTiger

##数据文件路径
dbpath=E:\Git\learngit\node\dbData\dbData

##日志文件
logpath=E:\Git\learngit\node\dbData\dbLog\db.log

##错误日志采用追加模式，配置这个选项后mongodb的日志会追加到现有的日志文件，而不是从新创建一个新文件
logappend=true

##启用日志文件，默认启用
journal=true

##这个选项可以过滤掉一些无用的日志信息，若需要调试使用请设置为false
quiet=false

##端口号 默认为27017，注意这里端口修改为9888后，要用mongo --port=9888连接，否则报错。
port=9888

##开启用户验证
##auth=true